body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: auto;
  margin: auto;

}
.score-board {
  background-color: black;
  color: white;
  border-radius: 8%;
}
.score-board h3 {
  font-size: 2rem;
}
.user-stats {
  font-size: 1.5rem;
  margin: 5%;
}

.btn {
  margin: 2px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  opacity: 1; /* Add opacity to ensure visibility */
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* Styles for PC */
@media only screen and (min-width: 1024px) {
  /* Add your PC styles here */
}

/* Styles for tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Add your tablet styles here */
  .container {
    display: block;
    width: auto;
    margin: auto;
  
  }
  
  .btn {
    margin: 2px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
}

/* Styles for mobile devices */
@media only screen and (max-width: 767px) {
  /* Add your mobile styles here */
  .container {
    display: block;
    width: auto;
    margin: auto;
  
  }
  
  .btn {
    margin: 2px;
    display: inline-block;
    height: 125px;
    width: 125px;
    border: 10px solid black;
    border-radius: 20%;
  }
}
